extends layout

block content
	#pegel
		- if (data.next.type == 'hw')
			h1 Der Pegel steigt in
		- else
			h1 Der Pegel sinkt in
		h2= label
		h3
			span
				span.lat= geo[0]
				span.log= geo[1]
		ul#upcoming
			- if (data.next.type == 'hw')
				li.hw.fst= 'HW: ' + data.next.hw.getHours() + ':' + data.next.hw.getMinutes() + ' ~' + data.next.bounds.hw + 'cm'
				li.nw.snd= 'NW: ' + data.next.nw.getHours() + ':' + data.next.nw.getMinutes() + ' ~' + data.next.bounds.nw + 'cm'
			- else 
				li.nw.fst= 'NW: ' + data.next.nw.getHours() + ':' + data.next.nw.getMinutes() + ' ~' + data.next.bounds.nw + 'cm'
				li.hw.snd= 'HW: ' + data.next.hw.getHours() + ':' + data.next.hw.getMinutes() + ' ~' + data.next.bounds.hw + 'cm'
				
		#visual
			#scale
				#max=data.next.bounds.hw
				#cur(class=(data.next.type == 'hw' ? 'top' : 'bottom') data-max=data.next.bounds.hw, data-min=data.next.bounds.nw, data-cur=data.value)
					span=data.value
				#min=data.next.bounds.nw
		
	footer
		h3 
			a(href="http://S11K.com") S11K.com
		h4
			a(href="http://S11K.com") Die Schnapsfrabik
		h5
			a(href="/impressum") Impressum
	