extends layout

block content
	#pegel
		- if (data.next.type == 'hw')
			h1 Das Wasser steigt in 
				span= label
		- else
			h1 Das Wasser sinkt in 
				span= label
		h3
			span
				span.bg
				span.lat= geo[0]
				span.lon= geo[1]
				span.bg
		ul#upcoming
			- if (data.next.type == 'hw')
				- fst = 'hw'
				- snd = 'nw'
			- else
				- fst = 'nw'
				- snd = 'hw'
			li.fst(class=fst)
				span.icon
				span.time= format_time(data.next[fst].getHours(), data.next[fst].getMinutes())
				|  Uhr
			li.snd(class=snd)
				span.icon
				span.time= format_time(data.next[snd].getHours(), data.next[snd].getMinutes())
				|  Uhr
		#ui
			#level
				#bar(class=(data.next.type == 'hw' ? 'bottom' : 'top'))
					#bar-box
						span.meters 
							span#value= (data.next.type == 'hw' ? data.next.bounds.nw : data.next.bounds.hw)
							|  cm
						span.time
							span= format_time(data.date.getHours(), data.date.getMinutes())
							|  Uhr
			#visual
				#bullseye
					#bg
					#wave(class=(data.next.type == 'hw' ? 'bottom' : 'top') data-max=data.next.bounds.hw, data-min=data.next.bounds.nw, data-cur=data.value)
						#dark
						#light
					#eye
	footer
		p Den aktuellen Pegelstand von Hamburg bitte<br />nicht zum Navigieren benutzen! 
		a#impressum(href="/impressum") Impressum